
APP_DATA_DIR=./data
RECOVERY_DIR=./recovered
REPORT_DIR=./reports
INTEGRITY_LEDGER=./data/integrity-ledger.jsonl

MAX_IO_WORKERS=2
MAX_HASH_WORKERS=2
MAX_CONCURRENT_SCANS=1
MAX_RECOVERY_BYTES=10737418240
CHUNK_SIZE_MB=4
POST_SCAN_VERIFY=true
JOURNAL_MAX_BLOCKS=8192
TEXT_ARTIFACT_MAX_BYTES=1048576
